.container {
    width: 100% ;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center ;
    margin: 40px;
    width: 66vw;
    height: 70vh;
    border-radius: 15px ;
    background-color: tan;
    border: 4px solid blue;
}

.calculator form input{
    display: flex;
    outline:0;
    width:70px;
    height: 60px;
    border-radius: 10px;
    margin: 10px;
    font-size: 20px;
}

form .display {
    display:flex;
    justify-content: flex-end;
    margin: 30px 0 30px 0;
}


form .display input{
    flex: 1;
    width: 60vw;
    height: 15vh;
    border: 4px solid blue;
    border-radius: 300px;
    background-color: rgb(109, 112, 112);
     text-align:right;
}

.operations{
    display:flex; 
  row-gap: .6px;
  column-gap: 60px;
  justify-content: center;
  align-items: center;
    width: 60vw;
    height: 5vh;
    border: 2px solid blue;
    margin: 30px 0 30px 0;
}

.mainbuttons{
display: flex;
align-items: center;
justify-content: center;
}